@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

*, 
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --theme-green: #67F663;
  --theme-blue: #2484C6;
  --primary-text: #1f1d1d;
  --secondary-text: rgb(236, 236, 236);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-image: linear-gradient(45deg, var(--theme-green), var(--theme-blue)); 
  background-size: cover;
  min-height: 100vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.hero-image {
  display: block;
  width: 50%;
  margin-inline: auto;
}

.hero-text {
  font-size: x-large;
  text-align: center;
  margin-top: 1rem;
}

.meta-image {
  display: none;
  visibility: hidden;
}

footer::before {
  content: '';
  position: relative;
  display: block;
  border-top: 2px solid var(--primary-text);
  width: 50%;
  margin: 2rem auto;
}

footer {
  font-size: medium;
  text-align: center;
}

.icons {
  font-size: small;
}

/* Home page */
.sns-links {
  display: flex;
  justify-content: space-evenly;
  width: 75vw;
  margin: 2.5rem;
}

.sns-individual-link {
  font-size: 3rem;
}

.sns-individual-link:hover {
  color: white;
}

.podcast-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-links {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-text);
  border-radius: 500px;
  background: var(--theme-blue);
  font-size: 1.1rem;
  margin: 1rem;
  padding-inline: 0.5em;
  text-align: center;
  height: 40px;
  width: 250px;
}

.button:hover {
  border: 2px solid white;
  background: var(--theme-green);
  color: white;
}

.fi {
  text-align: center;
  padding-inline: 5px;
}

/* Episode Notes */
.card {
  width: 50vw;
}

.episode-number {
  font-size: 1.5rem;
}

.glass {
  background: rgba(255,255,255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255, 0.3);
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
}

.glass:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 43px;
  transform: translate3d(0px, -1px, 1px);
  background: rgba(255,255,255, 0.6);
}

.episode-image {
  height: 250px;
  width: 250px;
  margin: auto auto;
}

.episode-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.episode-title {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.episode-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .9rem;
  padding: 1rem;
}

.episode-link-container > a {
  padding: .1em;
  width: fit-content;
}

.episode-link-container > a:hover {
  color: var(--theme-blue);
}

.episode-link > i {
  font-size: 1rem;
}

.episode-listening-options {
  display: flex;
  padding-left: 1rem;
  justify-content: space-evenly;
}

.episode-listening-options i {
  font-size: 1.75rem;
}

.episode-listening-options i:hover {
  color: var(--theme-blue);
}

.year-container {
  margin-block: 5rem;
  width: 100%;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.year-button {
  border: 1px solid var(--secondary-text);
  border-radius: 30px;
  background-color: var(--theme-blue);
  font-size: 1.1rem;
  padding: .25rem 1rem;
  margin-inline: 1rem;
}

.year-button a {
  color: var(--secondary-text);
}

.year-button:hover {
  border: 1px solid var(--primary-text);
}

.year-button a:hover {
  color: var(--primary-text);
}

/* Remove hover effects for mobile */
@media (hover: none) {
  .button:hover {
    border: inherit;
    background: inherit;
    color: inherit;
  }

  .glass:hover {
    box-shadow: inherit;
    transform: inherit;
    background: inherit;
  }

  .episode-link-container > a:hover {
    color: inherit;
  }

  .year-button:hover {
    border: inherit;
  }
  
  .year-button a:hover {
    color: inherit;
  }

  .episode-listening-options i:hover {
    color: inherit;
  }
}

/* Tablet CSS */
@media (max-width: 1024px) {
  .page-title {
    font-size: 2rem;
  }

  .card {
    width: 60vw;
  }
}

/* Small Tablet CSS */
@media (max-width: 768px) {
  .sns-links {
    width: 100vw;
  }

  .episode-container {
    display: grid;
    grid-template-columns: 45vw 45vw;
    column-gap: 5vw;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  .glass {
    flex-direction: column;
  }

  .episode-image {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: auto auto;
  }
  
  .episode-title {
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: .9rem;
  }
  
  .episode-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .9rem;
    padding: 1rem;
  }
  
  .episode-link-container > a {
    font-size: .8rem;
  }

  .year-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .year-text {
    font-size: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}

/* Phone CSS */
@media (max-width: 480px) {
  .hero-text {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  .sns-links {
    display: flex;
    width: 100vw;
    margin: 1rem;
  }
  
  .sns-individual-link {
    font-size: 2rem;
  }
  
  .audio-links {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-items: center;
  }
  
  .button {
    border: 1px solid var(--primary-text);
    border-radius: 500px;
    background: var(--theme-blue);
    font-size: .7rem;
    margin: 1rem;
    padding-inline: 0.5em;
    text-align: center;
    height: 40px;
    width: 35vw;
  }

  footer {
    font-size: .7rem;
  }

  .icons {
    font-size: .5rem;
  }

  .page-title {
    font-size: 1.5rem;
  }

  .episode-container {
    display: flex;
    flex-direction: column;
  } 

  .card {
    width: 90vw;
  }

  .episode-number {
    font-size: 1rem;
  }

  .episode-listening-options i {
    font-size: 1.25rem;
  } 
}

