@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, 
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(45deg, #67F663, #99d8ff); 
  background-size: cover;
}

.button {
  border: 2px solid black;
  border-radius: 500px;
  background: #99d8ff;
  font-size: 0.9rem;
  margin: 1.5rem;
  padding: 1.0em 0;
  width: 90%;
  text-align: center;
}