@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, 
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(45deg, #67F663, #99d8ff); 
  background-size: cover;
}

.button {
  border: 2px solid black;
  border-radius: 500px;
  background: #99d8ff;
  font-size: 0.9rem;
  margin: 1.5rem;
  padding: 1.0em 0;
  width: 70vw;
  text-align: center;
}

.glass {
  background: rgba(255,255,255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255, 0.3);
}

.glass-card {
  padding: 1rem;
}

.glass-modal {
  width: 70%;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0/3);
  backdrop-filter: blur(20px);
  max-height: 50%;
}

.glass-modal::backdrop {
  opacity: 0.9;
}